<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Regalo 1Mes</title>
</head>

<body>
  <header>
    <h1>Botella de los buenos deseos</h1>
    <br><br><br>
    <h2>Aquí encontrarás notitas escritas con mucho cariño para ti mi niña</h2>
  </header>

  <br><br>

  <main>
    <div class="container">
      <div class="cardcontainer">
        <div class="descripcion">
            <p>{{frase}}</p>
        </div>
      </div>
    </div>

  </main>

  <footer> 

    <div class="containerfooter">
      <p>"Hecho con mucho amor para ti hermosa, sigamos caminando juntos y fortaleciendo nuestra relación" | Hecho por Knight15k5</p>
    </div>

  </footer>
  
</body>
</html>
